In [38]:
import os
import pandas as pd
import pickle
from io import StringIO

# change into the folder that contains the unzipped data (in the folder "DataManagementIntergration_Data")

# change into the folder that contains the unzipped data (in the folder "DataManagementIntergration_Data")
data_path = r'C:\Users\sjants\Desktop\Data' # simon
data_path = r'../DataManagementIntergration_Data/OriginalData_wRouteTest' # ivo

## 1. Get overview of files

In [28]:
dict_folder_file = {} # initialize dictionary
# this will hold subfolders as keys and a list of the contained files as value, e.g. dict = {folder1: [file1, file2], ...}

for subfolder in os.listdir(data_path):
    if subfolder not in dict_folder_file.keys(): # check if the dictionary already contains entries for the subfolder
        dict_folder_file[subfolder] = [] # if not, add an empty list to as value for that entry
    for entry in os.listdir('/'.join((data_path, subfolder))):
        if entry == 'UnityDataSave': # if the subfolder is UnityDataSave
            contents = os.listdir('/'.join((data_path, subfolder, entry))) # get the contents of the folder
            contents = ['/'.join((entry, i)) for i in contents] # construct the path to the file
            for entr in contents:
                dict_folder_file[subfolder].append(entr) # append 'UnityDataSave/filename' to the dictionary
        else:
            dict_folder_file[subfolder].append(entry) # append the list for that entry with the respective files

# 2. Read in files

In [29]:
for key in dict_folder_file.keys(): # iterate through each subfolder
    if False:
        print(dict_folder_file[key][0]) # print first file

In [30]:
for key in dict_folder_file.keys(): # iterate through each subfolder
    if False:
        print(dict_folder_file[key])

In [31]:
for key in dict_folder_file.keys(): # iterate through each subfolder
    if False:
        print(key)

In [32]:
list = []
for key in dict_folder_file.keys(): #iterate through each subfolder
    df=pd.read_csv('/'.join((data_path,key,dict_folder_file[key][0]))) #read in one file as data frame
    ID=[]
    for i in range(1,len(df)+1):
        ID.append(i)
    df.insert(1,'TaskID',ID)
    list.append(df) #append data frames
detailed_subj = pd.concat(list, axis=0, ignore_index=True) #concatenate them into one data frame called detailed_subj

In [33]:
#print(detailed_subj) #print data of all subjects from the detailed_subj files
detailed_subj

,UserId,TaskID,Correct,userAnswer,expectAnswer,curClickNumber,expectMaxClickNumber
0,15,1,1,5,5,1,7
1,15,2,1,6,6,2,7
2,15,3,1,4,4,3,7
3,15,4,1,1,1,4,7
4,15,5,1,8,8,5,7
...,...,...,...,...,...,...,...
6082,44,205,1,0,0,1,5
6083,44,206,1,5,5,2,5
6084,44,207,1,2,2,3,5
6085,44,208,1,7,7,4,5
6086,44,209,1,6,6,5,5

In [57]:
list = []
for key in dict_folder_file.keys(): 
    df=pd.read_csv('/'.join((data_path,key,dict_folder_file[key][1])),names=['QuestionNumber','CorrectResponseAngle','ActualResponseAngle','AbsoluteAngularError'],header=None)
    ID=[]
    for i in range(0,len(df)):
        ID.append(int(key[4:]))
    df.insert(0,'UserID',ID)
    list.append(df)
ptsot_results = pd.concat(list, axis=0, ignore_index=True,sort=False)

#print(ptsot_results)
with open('./dumps_ptsot_results', 'wb') as f:
    pickle.dump(ptsot_results, f)

ptsot_results

,UserID,QuestionNumber,CorrectResponseAngle,ActualResponseAngle,AbsoluteAngularError
0,15,1,123.0,136.6703,13.6703
1,15,2,237.0,215.3757,21.6243
2,15,3,83.0,89.3614,6.3614
3,15,4,156.0,163.9047,7.9047
4,15,5,319.0,328.1509,9.1509
...,...,...,...,...,...
385,44,9,280.0,300.3780,20.3780
386,44,10,48.0,69.8174,21.8174
387,44,11,26.0,20.7285,5.2715
388,44,12,150.0,133.5872,16.4128
389,44,Average Error: 24.8548,NaN,NaN,NaN

In [56]:
list = []
for key in dict_folder_file.keys(): 
        if len(dict_folder_file[key]) > 3:
            df=pd.read_csv('/'.join((data_path,key,dict_folder_file[key][3])),skipinitialspace=True)
            df.columns = ['UserID' if x=='PartID ' else x for x in df.columns]
            df.drop(df.index[0], inplace=True)
            list.append(df)
JRD = pd.concat(list, axis=0, ignore_index=True,sort=False)
#print(JRD)

with open('./dumps_JRD', 'wb') as f:
    pickle.dump(JRD, f)

JRD

,UserID,DateTime,City_mapLMs,StandingAt,LookingAt,LandmarkToMove,CorrectAngle,ResponseInDegrees,ResponsErrorAbs
0,15,14.10.2020 10:41:25,1_7,LM5,LM6,LM7,38.28455,153.187000,114.90240
1,15,14.10.2020 10:41:45,1_7,LM2,LM6,LM5,7.510761,43.030730,35.51997
2,15,14.10.2020 10:42:14,1_7,LM4,LM6,LM1,256.835,213.094600,43.74046
3,15,14.10.2020 10:42:34,1_7,LM1,LM3,LM2,28.29682,337.270100,51.02676
4,15,14.10.2020 10:42:44,1_7,LM1,LM4,LM5,338.0095,51.104240,73.09473
...,...,...,...,...,...,...,...,...,...
1089,44,13.11.2020 17:19:42,3_7,LM3,LM5,LM7,14.5494,3.732508,10.81691
1090,44,13.11.2020 17:19:47,3_7,LM6,LM4,LM3,335.241,73.154510,97.91312
1091,44,13.11.2020 17:19:48,3_7,LM5,LM4,LM6,177.012,79.987100,97.02465
1092,44,13.11.2020 17:19:56,3_7,LM3,LM2,LM1,62.8291,263.248100,159.58100
1093,44,13.11.2020 17:19:58,3_7,LM6,LM5,LM1,325.882,264.986100,60.89554

In [55]:
list=[]
for key in dict_folder_file.keys(): 
        if len(dict_folder_file[key]) > 3:
            with open('/'.join((data_path,key,dict_folder_file[key][2]))) as file:
                data = file.read().replace("merken,","merken;" ).replace("nachdenke,","nachdenke;" ).replace("(N,S,O,W)","(N;S;O;W)" ).replace("(N, S, E, W)","(N; S; E; W)" ).replace("Probleme,","Probleme;" ).replace("wichtig,","wichtig;" ).replace("erinnern,","erinnern;" )
                if len(data)>0:
                    TESTDATA = StringIO(data)
                    df = pd.read_csv(TESTDATA, sep=",")
                    ID=[]
                    for i in range(0,len(df)):
                        ID.append(int(key[4:]))
                    df.insert(0,'UserID',ID)
                    list.append(df)
sbsod = pd.concat(list, axis=0, ignore_index=True,sort=False)

with open('./dumps_sbsod', 'wb') as f:
    pickle.dump(sbsod, f)
    
sbsod

,UserID,questionID,questionContent,ParticipantAnswer
0,15,1,Ich bin sehr gut im Geben von Wegbeschreibungen.,2
1,15,2,Ich kann mir nur schlecht merken; wo ich Dinge...,5
2,15,3,Ich bin sehr gut im SchÃ¤tzen von Entfernungen.,6
3,15,4,Mein â€žOrientierungssinnâ€œ ist sehr gut.,1
4,15,5,Wenn ich Ã¼ber meine Umgebung nachdenke; verwen...,1
...,...,...,...,...
415,44,11,Ich gebe nicht gerne Wegbeschreibungen.,6
416,44,12,FÃ¼r mich ist es nicht wichtig; zu wissen wo ic...,3
417,44,13,Normalerweise Ã¼berlasse ich anderen die Wegepl...,7
418,44,14,In der Regel kann ich mich an einen neuen Weg ...,5
419,44,15,Ich habe keine sehr gute â€žinnere Karteâ€œ meiner...,2

In [54]:
list = []
for key in dict_folder_file.keys(): 
        if len(dict_folder_file[key]) == 6:
            print(key)
            df=pd.read_csv('/'.join((data_path,key,dict_folder_file[key][4])),skipinitialspace=True)
            list.append(df)

#RouteTest = pd.concat(list, axis=0, ignore_index=True,sort=False)
print(RouteTest)

with open('./dumps_RouteTest', 'wb') as f:
    pickle.dump(RouteTest, f)
    
RouteTest

NameError: name 'RouteTest' is not defined

['detailed_subj_15_corsi.csv', 'ptsot_results-15.txt', 'sbsod_15_Female_Age_27_20201014_094327.csv', 'UnityDataSave/15_JRD_20201014_103147.csv']
['detailed_subj_16_corsi.csv', 'ptsot_results-16.txt', 'sbsod_16_Male_Age_27_20201014_132539.csv', 'UnityDataSave/16_JRD_20201014_135224.csv']
['detailed_subj_17_corsi.csv', 'ptsot_results-17.txt', 'sbsod_17_Male_Age_21_20201014_161320.csv', 'UnityDataSave/17_JRD_20201014_170118.csv']
['detailed_subj_18_corsi.csv', 'ptsot_results-18.txt', 'sbsod_18_Male_Age_21_20201015_095434.csv', 'UnityDataSave/18_JRD_20201015_101733.csv']
['detailed_subj_19_corsi.csv', 'ptsot_results-19.txt', 'sbsod_19_Female_Age_29_20201015_134843.csv', 'UnityDataSave/1919_JRD_20201015_143137.csv', 'UnityDataSave/19_JRD_20201015_141249.csv']
['detailed_subj_20_corsi.csv', 'ptsot_results-20.txt', 'sbsod_20_Female_Age_25_20201015_162951.csv', 'UnityDataSave/20_JRD_20201015_170831.csv']
['detailed_subj_21_corsi.csv', 'ptsotresults-21.txt', 'sbsod_21_Female_Age_28_20201019_142007.csv', 'UnityDataSave/21_JRD_20201019_145256.csv']
['detailed_subj_22_corsi.csv', 'ptsotresults-22.txt', 'sbsod_22_Male_Age_24_20201021_095345.csv', 'UnityDataSave/22_JRD_20201021_102947.csv']
['detailed_subj_23_corsi.csv', 'ptsotresults-23.txt', 'sbsod_23_Male_Age_27_20201021_132806.csv', 'UnityDataSave/23_JRD_20201021_135337.csv']
['detailed_subj_24_corsi.csv', 'ptsot_results-24.txt', 'sbsod_24_Female_Age_21_20201022_095150.csv', 'UnityDataSave/24_JRD_20201022_102246.csv']
['detailed_subj_25_corsi.csv', 'ptsot_results-25.txt', 'sbsod_25_Male_Age_25_20201022_133608.csv', 'UnityDataSave/25_JRD_20201022_135823.csv']
['detailed_subj_26_corsi.csv', 'ptsotresults-26.txt', 'sbsod_26_Female_Age_26_20201022_161454.csv', 'UnityDataSave/26_JRD_20201022_164458.csv']
['detailed_subj_27_corsi.csv', 'ptsot_results-27.txt', 'sbsod_27_Female_Age_26_20201026_142115.csv', 'UnityDataSave/27_JRD_20201026_144926.csv']
['detailed_subj_28_corsi.csv', 'ptsot_results-28.txt', 'sbsob_28_Male_Age_29_20201028_094329.csv', 'UnityDataSave/28_JRD_20201028_102815.csv']
['detailed_subj_29_corsi.csv', 'ptsot_results-29.txt', 'sbsod_29_Female_Age_22_20201028_135201.csv', 'UnityDataSave/29_JRD_20201028_142814.csv']
['detailed_subj_30_corsi.csv', 'ptsot_results-30.txt', 'sbsod_30_Male_Age_23_20201029_095420.csv', 'UnityDataSave/30_JRD_20201029_102655.csv']
['detailed_subj_31_corsi.csv', 'ptsot_results-31.txt', 'sbsod_31_Male_Age_28_20201029_133503.csv', 'UnityDataSave/31_JRD_20201029_140128.csv']
['detailed_subj_32_corsi.csv', 'ptsot_results-32.txt', 'sbsod_32_Female_Age_18_20201029_162415.csv']
['detailed_subj_33_corsi.csv', 'ptsot_results-33.txt', 'sbsod_33_Female_Age_31_20201030_095510.csv', 'UnityDataSave/33_JRD_20201030_101900.csv']
['detailed_subj_34_corsi.csv', 'ptsot_results-34.txt', 'sbsod_34_Female_Age_24_20201030_134051.csv', 'UnityDataSave/34_JRD_20201030_140646.csv']
['detailed_subj_35_corsi.csv', 'ptsot_results-35.txt', 'sbsod_35_Female_Age_26_20201102_141805.csv']
['detailed_subj_36_corsi.csv', 'ptsot_results-36.txt', 'sbsod_36_Male_Age_27_20201103_142218.csv', 'UnityDataSave/36_JRD_20201103_145948.csv']
['detailed_subj_37_corsi.csv', 'ptsot_results-37.txt', 'sbsod_37_Female_Age_27_20201105_162224.csv', 'UnityDataSave/37_JRD_20201105_170101.csv']
['detailed_subj_38_corsi.csv', 'ptsot_results-38.txt', 'sbsod_38_Female_Age_24_20201111_133333.csv', 'UnityDataSave/38_JRD_20201111_140336.csv']
['detailed_subj_39_corsi.csv', 'ptsot_results-39.txt', 'sbsod_39_Female_Age_28_20201111_162148.csv', 'UnityDataSave/39_JRD_20201111_165209.csv']
['detailed_subj_40_corsi.csv', 'ptsot_results-40.txt', 'sbsod_40_Female_Age_22_20201112_094903.csv', 'UnityDataSave/40_JRD_20201112_101412.csv']
['detailed_subj_41_corsi.csv', 'ptsot_results-41.txt', 'sbsod_41_Male_Age_23_20201112_140300.csv', 'UnityDataSave/41_JRD_20201112_142836.csv']
['detailed_subj_42_corsi.csv', 'ptsot_results-42.txt', 'sbsod_42_Female_Age_31_20201112_162151.csv', 'UnityDataSave/42_JRD_20201112_164559.csv']
['detailed_subj_43_corsi.csv', 'ptsot_results-43.txt', 'sbsod_43_Male_Age_21_20201113_095503.csv', 'UnityDataSave/43_JRD_20201113_101822.csv']
['detailed_subj_44_corsi.csv', 'ptsot_results-44.txt', 'sbsod_44_Female_Age_22_20201113_161422.csv', 'UnityDataSave/44_JRD_20201113_164148.csv']