# Workshop Text Classification with Python
## Coding Session 0 - Data Management with Pandas

Anke & Lara & Ivo

Last edit: 30.09.2020

In [34]:
import pandas as pd 

#This is THE python library for everything with data frames.
#It can do almost everything and is very easy to handle :)

## Data Set A - Songext by Genre

Let's load the data frame with the songtexts as an example. The file is in the folder **Data**. If the file is in the same folder as this Notebook just type in the file name.

#### Read data from csv file

In [35]:
df = pd.read_csv("./Data/Songtexts_by_Genre_DataFrame.csv", sep=",") 
#There are several more parameter options in addition to "sep".

In [36]:
df.head() #Gives you the head (5 rows in default) of the data frame. 
#We have the columns "Title", "Artist", "Popularity", "Lyric", "Idiom" and "Genre".

,Title,Artist,Popularity,Lyric,Idiom,Genre
0,"""Oh Yeah"" By Foxy Brown",Foxy Brown,0.0,[Verse One]. I'm the most critically acclaimed...,ENGLISH,Hip Hop
1,"""The Sound Of Music"" Tribute (Oscars 2015)",Lady Gaga,93.9,The hills are alive with the sound of music. W...,ENGLISH,Pop
2,"""cassius"" Love Vs. ""sonny"" Wilson",The Beach Boys,1.0,"Hi, this is Al. This scene takes place at a ty...",ENGLISH,Rock
3,#1,Nelly,3.1,Uh uh uh. I just gotta bring it to they attent...,ENGLISH,Hip Hop
4,#1 Crush,Garbage,0.4,I would die for you. I would die for you. I've...,ENGLISH,Rock

#### Inspect the data

In [37]:
len(df) #Number of rows/cases.

87290

In [38]:
df["Lyric"][0] 
#Shows u the content of 1 single cell. E.g. column "Lyrics", row 1 (=index nr. 0).

'[Verse One]. I\'m the most critically acclaimed, rap bitch in the game. Coast to coast, stash the gat in holster girl. Dark skinned, Christian Dior poster girl. Mo\' rockin Timbs bitch and the Gucci loafers girl. Niggaz say I\'m too pretty to spit rhymes this gritty. Fuck y\'all thought? Be dancin around in suits like I\'m {Diddy}. Pretty, show niggaz how we run this city. Respect my name, Boogie nigga, stay in ya lane. Like The Hurricane, rains on bitches like Sugar Shane. And dare one of y\'all rappin chicks to mention Fox name. "What\'s Beef?" Beef is when bitches think it\'s sweet. See y\'all frontin in the streets and let my gat meet ya. 1- Why Yoooooooo, Why yo yo yo. Why Yoooooooo, Why yagga ya yo. Why Yoooooooo, Why yo yo yo. Why Yoooooooo, Why yagga ya yo (yagga yo). Check, uhh. It\'s like I\'m in my own fuckin world, I speak how I feel. Sometimes I feel like I\'m just too fuckin real. I love to stack riches, no disrespect y\'all. I respect the rap game, but I don\'t fuck with rap bitches. I\'m speakin from my heart. It\'s not that I\'m too good, I\'m just hood. Been like this from the fuckin start. Since I bust my gun in ninety-six. Y\'all never see me flick up with them fake-ass chicks. Bitches smile up in your face, turn around and pop shit. You a industry bitch, I\'m a in the streets bitch. I might breeze through Prada, Chloe or Tiffs. But, other than that it\'s just me and my six. repeat 1. I dream filthy. My moms and pops mixed it with the Trini\' rum and whiskey. Uhh, proper set off. Six sped off, gats let off, I speak calm. Gangsta, and pours off like Screechie Don, bwoy. Who y\'all know rock Prada like Fox. Pop bottles in the back of the cellar with Donatella. Cartier wrist wear, Pasha Kay face. Got niggaz stand in line just to get a sneak taste. Act like y\'all don\'t know I keeps gat beneath waist. And like a hundred thou\' each crib in each safe. When Fox come through she have a gun in the place. I\'m like Marion Jones, what, who the FLUCK wan\' race?. Listen, never trippin, never catch Brown slippin. Fuck, y\'all only nice around mics like Pippen. Shit, to all my thugs that\'s Blood\'n or Crip\'n. I\'m still shittin, still lowridin and switch-hittin nigga.'

In [39]:
df["Genre"].value_counts() #Overview of values in one column, e.g. in column "Genre".

Rock       48859
Pop        24117
Hip Hop    14314
Name: Genre, dtype: int64

In [40]:
df["Idiom"].value_counts() #Overview of values in one column.

ENGLISH    87028
GERMAN       262
Name: Idiom, dtype: int64

In [41]:
df['Artist'].nunique() 
#Shows Nr of unique values in a column. E.g. in column "Artist".

1122

#### Drop cases with missing values

In [42]:
df.dropna(inplace=True,subset=None) #Instead of None you can specify by column(s). 
#E.g. subset="Genre", what would drop cases with NAN in column "Genre".

#### Sort by column values

In [43]:
df.sort_values('Title', 
               inplace=True) #Inplace saves your changes in the df.

In [44]:
df.head(20) #Shows the first 20 rows of the (sorted) df.

,Title,Artist,Popularity,Lyric,Idiom,Genre
0,"""Oh Yeah"" By Foxy Brown",Foxy Brown,0.0,[Verse One]. I'm the most critically acclaimed...,ENGLISH,Hip Hop
1,"""The Sound Of Music"" Tribute (Oscars 2015)",Lady Gaga,93.9,The hills are alive with the sound of music. W...,ENGLISH,Pop
2,"""cassius"" Love Vs. ""sonny"" Wilson",The Beach Boys,1.0,"Hi, this is Al. This scene takes place at a ty...",ENGLISH,Rock
3,#1,Nelly,3.1,Uh uh uh. I just gotta bring it to they attent...,ENGLISH,Hip Hop
4,#1 Crush,Garbage,0.4,I would die for you. I would die for you. I've...,ENGLISH,Rock
5,#1 Fan,Plies,0.1,"[Plies:]. It's Plies, baby {Plies, baby}. And ...",ENGLISH,Hip Hop
6,#1 Girl,Mindless Behavior,0.0,"My number 1, be my number 1, be my number 1 gi...",ENGLISH,Pop
7,#1 Zero,Audioslave,4.3,"Listen now, let me speak. I will be the dog at...",ENGLISH,Rock
8,#Beautiful (Feat. Miguel),Mariah Carey,13.9,"Ah, ah, you're beautiful. Ah, ah, you're beaut...",ENGLISH,Pop
9,"#Beautiful (Remix) (feat. Miguel, A$AP Rocky)",Mariah Carey,13.9,It's like our first date. Time pass fast like ...,ENGLISH,Pop
10,#Endoftheworld,Xv,0.0,"Let me in your life, let me in your homes. Let...",ENGLISH,Hip Hop
11,#GETITRIGHT,Miley Cyrus,16.6,Feel a surge coming over me. I feel it all aro...,ENGLISH,Pop
12,#Wheresthelove (feat. The World),Black Eyed Peas,14.0,[will. I. am]. People killin' people dyin'. Ch...,ENGLISH,Hip Hop
13,#comeup,Mindless Behavior,0.0,One time for all of my. Waitresses with the sp...,ENGLISH,Pop
14,"#iwantdat (Feat. Problem, Bad Lucc)",Mindless Behavior,0.0,"[Verso 1: Problem]. Charge your own 10, charge...",ENGLISH,Pop
15,#thatpower (feat. Justin Bieber),will.i.am,0.9,"And oh. I'm alive, I'm alive, I'm alive. And o...",ENGLISH,Hip Hop
16,$$$ (With Matt OX),XXXTentacion,9.2,"Pew. Get money, yeah yeah. Get money, yeah, ge...",ENGLISH,Hip Hop
17,$$$ex (Feat. Yla),Vanessa Hudgens,0.7,"Can't you feel my hot sex, heart stop beating?...",ENGLISH,Pop
18,"$,O,36",Killing Joke,0.1,one man limited room to think. move with the l...,ENGLISH,Rock
19,"$100 Bill, Y'all",Ice Cube,1.3,"Get numbers, get names. Thick dames. Headhunte...",ENGLISH,Hip Hop

#### Save as csv file

In [45]:
df.to_csv("./Data/Songtexts_by_Genre_DataFrame_edit.csv",
              index=False)

## Data Set B - News by Topic

#### Read data from csv file

In [51]:
df_2 = pd.read_csv("./Data/News_by_Topic_DataFrame_(foeg).csv", sep=",") 
#There are several more parameter options in addition to "sep".

#### Drop columns

In [52]:
df_2.head()
#We don't want the first column "Unnamend: 0" as an index column.

,Unnamed: 0,MediumID,BeitragID,BeitragDT,MedienStrSprachGattungTyp_Hierarchie4,MedienStrSprachGattungTyp_Hierarchie5,Jahr,Monat,Sphäre_Hier2,Titel,Inhalt
0,15,947,20862570,2017-04-19,Gratis-O,20minuten.ch,2017-01-01,2017-04-01,05 Human Interest,Überall Schnee? Mach das Beste draus!,Der April macht seinem Ruf alle Ehre und verpa...
1,16,947,20862528,2017-04-19,Gratis-O,20minuten.ch,2017-01-01,2017-04-01,05 Human Interest,Bei diesen Bildern fragst du dich nur noch «WTF?»,"Bei manchen Fotos, die uns im Netz begegnen, k..."
2,17,946,20861908,2017-04-19,Boulevard-O,Blick.ch,2017-01-01,2017-04-01,02 Wirtschaft,Angriff auf SBB-Monopol im Fernverkehr\r\nBern...,BERN - Die BLS greift die SBB an: Die Berne...
3,18,946,20861884,2017-04-19,Boulevard-O,Blick.ch,2017-01-01,2017-04-01,05 Human Interest,Taucher begegnen ganzer Kolonie: Salpen-Zauber...,In der Andamanensee vor der Küste von Myanmar ...
4,21,946,20861874,2017-04-19,Boulevard-O,Blick.ch,2017-01-01,2017-04-01,05 Human Interest,4 goldene Tipps: So schützen Sie ihre Pflanzen...,Die aktuell tiefen Temperaturen und der damit ...

In [61]:
#Let's try again. Now we added "index_col=[0]" as an argument for reading.
df_2 = pd.read_csv("./Data/News_by_Topic_DataFrame_(foeg).csv", sep=",", index_col=[0])

In [63]:
df_2.head()
#Better! But we can get rid of several more columns, we want to concentrate on the text columns ;)

,MediumID,BeitragID,BeitragDT,MedienStrSprachGattungTyp_Hierarchie4,MedienStrSprachGattungTyp_Hierarchie5,Jahr,Monat,Sphäre_Hier2,Titel,Inhalt
15,947,20862570,2017-04-19,Gratis-O,20minuten.ch,2017-01-01,2017-04-01,05 Human Interest,Überall Schnee? Mach das Beste draus!,Der April macht seinem Ruf alle Ehre und verpa...
16,947,20862528,2017-04-19,Gratis-O,20minuten.ch,2017-01-01,2017-04-01,05 Human Interest,Bei diesen Bildern fragst du dich nur noch «WTF?»,"Bei manchen Fotos, die uns im Netz begegnen, k..."
17,946,20861908,2017-04-19,Boulevard-O,Blick.ch,2017-01-01,2017-04-01,02 Wirtschaft,Angriff auf SBB-Monopol im Fernverkehr\r\nBern...,BERN - Die BLS greift die SBB an: Die Berne...
18,946,20861884,2017-04-19,Boulevard-O,Blick.ch,2017-01-01,2017-04-01,05 Human Interest,Taucher begegnen ganzer Kolonie: Salpen-Zauber...,In der Andamanensee vor der Küste von Myanmar ...
21,946,20861874,2017-04-19,Boulevard-O,Blick.ch,2017-01-01,2017-04-01,05 Human Interest,4 goldene Tipps: So schützen Sie ihre Pflanzen...,Die aktuell tiefen Temperaturen und der damit ...

In [64]:
df_2 = df_2.drop(["MediumID",'BeitragID',"BeitragDT", "MedienStrSprachGattungTyp_Hierarchie4", "MedienStrSprachGattungTyp_Hierarchie5", "Jahr", "Monat"], axis=1)

In [65]:
df_2.head() #Nice, but let's rename the column.

,Sphäre_Hier2,Titel,Inhalt
15,05 Human Interest,Überall Schnee? Mach das Beste draus!,Der April macht seinem Ruf alle Ehre und verpa...
16,05 Human Interest,Bei diesen Bildern fragst du dich nur noch «WTF?»,"Bei manchen Fotos, die uns im Netz begegnen, k..."
17,02 Wirtschaft,Angriff auf SBB-Monopol im Fernverkehr\r\nBern...,BERN - Die BLS greift die SBB an: Die Berne...
18,05 Human Interest,Taucher begegnen ganzer Kolonie: Salpen-Zauber...,In der Andamanensee vor der Küste von Myanmar ...
21,05 Human Interest,4 goldene Tipps: So schützen Sie ihre Pflanzen...,Die aktuell tiefen Temperaturen und der damit ...

#### Rename a column

In [66]:
df_2 = df_2.rename(columns={'Sphäre_Hier2': 'Topic'})

In [67]:
df_2.head()

,Topic,Titel,Inhalt
15,05 Human Interest,Überall Schnee? Mach das Beste draus!,Der April macht seinem Ruf alle Ehre und verpa...
16,05 Human Interest,Bei diesen Bildern fragst du dich nur noch «WTF?»,"Bei manchen Fotos, die uns im Netz begegnen, k..."
17,02 Wirtschaft,Angriff auf SBB-Monopol im Fernverkehr\r\nBern...,BERN - Die BLS greift die SBB an: Die Berne...
18,05 Human Interest,Taucher begegnen ganzer Kolonie: Salpen-Zauber...,In der Andamanensee vor der Küste von Myanmar ...
21,05 Human Interest,4 goldene Tipps: So schützen Sie ihre Pflanzen...,Die aktuell tiefen Temperaturen und der damit ...

#### Overview of column values

In [68]:
df_2["Topic"].value_counts() #Overview of values in one column. Here, we have 5 different topics.

05 Human Interest    2763
01 Politik           2395
04 Sport             1324
03 Kultur            1217
02 Wirtschaft        1187
Name: Topic, dtype: int64

#### Save as csv file

You can save the narrow dataset as csv file so that you don't have to do it all over again next time.

In [27]:
df_2.to_csv("./Data/News_by_Topic_DataFrame_(foeg)_reduced.csv",
              index=False)

## Data Set 3 - Sentiment of Tweets

In [28]:
df_3 = pd.read_csv("./Data/Tweets_by_Sentiment_DataFrame.csv", sep=",")

In [30]:
df_3.head()
#we don't need the id column.

,id,sentiment,text
0,434314703540846592,negative,@MetroNorth wall to wall people on the platfor...
1,437424096238792704,negative,RT @katie_rohaley: School on Monday is just go...
2,435670962327941120,negative,Who needs sleep? It's not like I have a test t...
3,436698945432326144,neutral,"@rob_yost -Hashtags can express humor, excitem..."
4,428714340964130816,positive,Grades come out tomorrow #soexcited\n432245861...

#### Drop columns

In [31]:
df_3 = df_3.drop("id", axis=1)

In [32]:
df_3.head()

  sentiment                                               text
0  negative  @MetroNorth wall to wall people on the platfor...
1  negative  RT @katie_rohaley: School on Monday is just go...
2  negative  Who needs sleep? It's not like I have a test t...
3   neutral  @rob_yost -Hashtags can express humor, excitem...
4  positive  Grades come out tomorrow #soexcited\n432245861...

In [33]:
df_3["sentiment"].value_counts() #Overview of values in one column. We have neutral, positive and negative sentiment.
#Most of the Tweets are neutral.

neutral     22182
positive    19572
negative     7713
Name: sentiment, dtype: int64

# <3 Very nice