In [1]:
import os
import pandas as pd
from io import StringIO

# change into the folder that contains the unzipped data (in the folder "DataManagementIntergration_Data")
data_path = r'C:\Users\sjants\Desktop\Data' # simon
data_path = r'../DataManagementIntergration_Data/OriginalData_wRouteTest' # ivo

## 1. Get overview of files

In [2]:
dict_folder_file = {} # initialize dictionary
# this will hold subfolders as keys and a list of the contained files as value, e.g. dict = {folder1: [file1, file2], ...}

for subfolder in os.listdir(data_path):
    if subfolder not in dict_folder_file.keys(): # check if the dictionary already contains entries for the subfolder
        dict_folder_file[subfolder] = [] # if not, add an empty list to as value for that entry
    for entry in os.listdir('/'.join((data_path, subfolder))):
        if entry == 'UnityDataSave': # if the subfolder is UnityDataSave
            contents = os.listdir('/'.join((data_path, subfolder, entry))) # get the contents of the folder
            contents = ['/'.join((entry, i)) for i in contents] # construct the path to the file
            for entr in contents:
                dict_folder_file[subfolder].append(entr) # append 'UnityDataSave/filename' to the dictionary
        else:
            dict_folder_file[subfolder].append(entry) # append the list for that entry with the respective files

# 2. Read in files

In [3]:
for key in dict_folder_file.keys(): # iterate through each subfolder
    print(dict_folder_file[key][0]) # print first file

detailed_subj_15_corsi.csv
detailed_subj_16_corsi.csv
detailed_subj_17_corsi.csv
detailed_subj_18_corsi.csv
detailed_subj_19_corsi.csv
detailed_subj_20_corsi.csv
detailed_subj_21_corsi.csv
detailed_subj_22_corsi.csv
detailed_subj_23_corsi.csv
detailed_subj_24_corsi.csv
detailed_subj_25_corsi.csv
detailed_subj_26_corsi.csv
detailed_subj_27_corsi.csv
detailed_subj_28_corsi.csv
detailed_subj_29_corsi.csv
detailed_subj_30_corsi.csv
detailed_subj_31_corsi.csv
detailed_subj_32_corsi.csv
detailed_subj_33_corsi.csv
detailed_subj_34_corsi.csv
detailed_subj_35_corsi.csv
detailed_subj_36_corsi.csv
detailed_subj_37_corsi.csv
detailed_subj_38_corsi.csv
detailed_subj_39_corsi.csv
detailed_subj_40_corsi.csv
detailed_subj_41_corsi.csv
detailed_subj_42_corsi.csv
detailed_subj_43_corsi.csv
detailed_subj_44_corsi.csv

In [7]:
list_dfs = []
for key in dict_folder_file.keys(): #iterate through each subfolder
    df=pd.read_csv('/'.join((data_path,key,dict_folder_file[key][0]))) #read in one file as data frame
    list_dfs.append(df) #append dataframes

detailed_subj = pd.concat(list_dfs, axis=0, ignore_index=True) #concatenate them into one data frame called detailed_subj

In [8]:
#print(detailed_subj) #print data of all subjects from the detailed_subj files
detailed_subj

,UserId,Correct,userAnswer,expectAnswer,curClickNumber,expectMaxClickNumber
0,15,1,5,5,1,7
1,15,1,6,6,2,7
2,15,1,4,4,3,7
3,15,1,1,1,4,7
4,15,1,8,8,5,7
...,...,...,...,...,...,...
6082,44,1,0,0,1,5
6083,44,1,5,5,2,5
6084,44,1,2,2,3,5
6085,44,1,7,7,4,5
6086,44,1,6,6,5,5

In [11]:
list_df = []
for key in dict_folder_file.keys(): 
    df=pd.read_csv('/'.join((data_path,key,dict_folder_file[key][1])),header=None)
    list_df.append(df)
ptsot_results = pd.concat(list_df, axis=0, ignore_index=True,sort=False)

#print(ptsot_results)
ptsot_results

                          0      1         2        3
0                         1  123.0  136.6703  13.6703
1                         2  237.0  215.3757  21.6243
2                         3   83.0   89.3614   6.3614
3                         4  156.0  163.9047   7.9047
4                         5  319.0  328.1509   9.1509
..                      ...    ...       ...      ...
385                       9  280.0  300.3780  20.3780
386                      10   48.0   69.8174  21.8174
387                      11   26.0   20.7285   5.2715
388                      12  150.0  133.5872  16.4128
389  Average Error: 24.8548    NaN       NaN      NaN

[390 rows x 4 columns]

In [12]:
list_df = []
for key in dict_folder_file.keys(): 
        if len(dict_folder_file[key]) > 3:
            df=pd.read_csv('/'.join((data_path,key,dict_folder_file[key][3])),skipinitialspace=True)
            list_df.append(df)
JRD = pd.concat(list_df, axis=0, ignore_index=True,sort=False)

#print(JRD)
JRD

,PartID,DateTime,City_mapLMs,StandingAt,LookingAt,LandmarkToMove,CorrectAngle,ResponseInDegrees,ResponsErrorAbs
0,PartID,DateTime,City_mapLMs,LandMark,Seen,Response,CorrectAngle,NaN,NaN
1,15,14.10.2020 10:41:25,1_7,LM5,LM6,LM7,38.28455,153.187000,114.90240
2,15,14.10.2020 10:41:45,1_7,LM2,LM6,LM5,7.510761,43.030730,35.51997
3,15,14.10.2020 10:42:14,1_7,LM4,LM6,LM1,256.835,213.094600,43.74046
4,15,14.10.2020 10:42:34,1_7,LM1,LM3,LM2,28.29682,337.270100,51.02676
...,...,...,...,...,...,...,...,...,...
1117,44,13.11.2020 17:19:42,3_7,LM3,LM5,LM7,14.5494,3.732508,10.81691
1118,44,13.11.2020 17:19:47,3_7,LM6,LM4,LM3,335.241,73.154510,97.91312
1119,44,13.11.2020 17:19:48,3_7,LM5,LM4,LM6,177.012,79.987100,97.02465
1120,44,13.11.2020 17:19:56,3_7,LM3,LM2,LM1,62.8291,263.248100,159.58100
1121,44,13.11.2020 17:19:58,3_7,LM6,LM5,LM1,325.882,264.986100,60.89554

In [14]:
list_df=[]
for key in dict_folder_file.keys(): 
        if len(dict_folder_file[key]) > 3:
            with open('/'.join((data_path,key,dict_folder_file[key][2]))) as file:
                data = file.read().replace("merken,","merken;" ).replace("nachdenke,","nachdenke;" ).replace("(N,S,O,W)","(N;S;O;W)" ).replace("(N, S, E, W)","(N; S; E; W)" ).replace("Probleme,","Probleme;" ).replace("wichtig,","wichtig;" ).replace("erinnern,","erinnern;" )
                if len(data)>0:
                    TESTDATA = StringIO(data)
                    df = pd.read_csv(TESTDATA, sep=",")
                    list_df.append(df)
sbsod = pd.concat(list_df, axis=0, ignore_index=True,sort=False)

#print(sbsod)
sbsod

,questionID,questionContent,ParticipantAnswer
0,1,Ich bin sehr gut im Geben von Wegbeschreibungen.,2
1,2,Ich kann mir nur schlecht merken; wo ich Dinge...,5
2,3,Ich bin sehr gut im Schätzen von Entfernungen.,6
3,4,Mein „Orientierungssinn“ ist sehr gut.,1
4,5,Wenn ich über meine Umgebung nachdenke; verwen...,1
...,...,...,...
415,11,Ich gebe nicht gerne Wegbeschreibungen.,6
416,12,Für mich ist es nicht wichtig; zu wissen wo ic...,3
417,13,Normalerweise überlasse ich anderen die Wegepl...,7
418,14,In der Regel kann ich mich an einen neuen Weg ...,5
419,15,Ich habe keine sehr gute „innere Karte“ meiner...,2

In [18]:
list = []
for key in dict_folder_file.keys(): 
        if len(dict_folder_file[key]) == 6:
            df=pd.read_csv('/'.join((data_path,key,dict_folder_file[key][4])),skipinitialspace=True)
            list.append(df)
RouteTest = pd.concat(list, axis=0, ignore_index=True,sort=False)
print(RouteTest)

ValueError: No objects to concatenate